<html>
    <head>
        <title>{{ title }}</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/prize-wheel.js') }}"></script>
    </head>
    <body>
        <h2>Spin the wheel to pick a Funny Voice</h2>
        <div>You picked: <b><span id="funnyVoice"></span></b>
        </div>
        <canvas id="wheel" onClick="window.location.reload();"></canvas>
        <script type="text/javascript" src="{{ url_for('static', filename='js/wheel.js') }}"></script>
    </body>
</html>