<html>
    <head>
        <title>{{ title }}</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/prize-wheel.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/voices.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Funny Voice Selector</h1>
        </div>
        <div class="container display-2">
            You picked: <b><span id="funnyVoice">???</span></b>
        </div>
        <div class="container">
            <canvas id="wheel" onClick="window.location.reload();"></canvas>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/wheel.js') }}"></script>
        <div class="container">
            <h2>Click the wheel to spin and pick a Funny Voice</h2>
            <h6>If you are curious, here is the <a href="{{ github }}">source code</a></h6>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
